
/* CONFIG GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --color-primario: #7d1d26;
}

/* Section 1 */
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primario);
}
.bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/background_shadow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* NAVBAR */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
header .logo {
position: relative;
font-weight: 600;
color: transparent;
text-decoration: none;
font-size: 2em;
-webkit-text-stroke: 1px rgb(255, 255, 255); 
background-clip: text; 
}

header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
}
header .navigation li a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 40px;
    text-decoration: none;
}
header .navigation li a.active,
header .navigation li a:hover{
    background: #fff;
    color: #333;
    transition: .5s;
}
header.scroll {
    background: #333;
    position: fixed;
    transform: scale(1.05);
    height: 4rem;
    transition: background 0.5s, transform 0.5s, height 0.5s;
    z-index: 9999;
    transition: 1s;
}

/* Contendor titulo, texto e img */
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .textBox {
    position: relative;
    max-width: 600px;
}
/* titulo */
.content .textBox h2{
    color: #fff;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 700;
    -wbkit-text-stroke: 2px white;

}
/* parrafo */
.content .textBox p{
    color: #fff;
    margin-top: 20px;
}
/* boton */
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #333;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
/* imagen bote */
.content .imgBox{
    position: relative;
    z-index: 1;
    width: 600px;
    display: flex;
    justify-content: flex-end;
}
.content .imgBox img{
    max-width: 200px;
}


.thumb{
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 50px 10px;
    cursor: pointer;
    transition: 0.5s;
    height: 70px;
    background: rgba(255,255,255,0.1);
    padding: 5px;
    border: 2px solid rgba(255,255,255,0.25);
}

.thumb li.active{
    border: 2px solid rgba(255,255,255,1);
}

.textBote{
    position: absolute;
    top: -300px;
    left: -200px;
    content: attr(data-text);
    white-space: nowrap;
    font-size: 18em;
    color: rgba(255, 255, 255, 0.05);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
    transition: opacity 0.5s;
}

@keyframes movimiento{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

/* .thumb li::before{
    position: absolute;
    top: -200px;
    left: -100px;
    content: attr(data-text);
    white-space: nowrap;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
}
.thumb li.active::before{
    opacity: 1;
} */
.thumb li img {
    max-width: 20px;
}
.sci{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.sci li a img{
    width: 30px;
}


@media (max-width: 991px){
    #home{
        height: 100vh;
        overflow-y: hidden;
    }
    bg::before{
        display: none;
        background: url(./img/background_movil.png);
    }
    header{
        padding: 20px;
    }
    section{
        padding: 20px;
        padding-bottom: 120px;
    }
    .content{
        margin-top: 10px;
        flex-direction: column;
    }
    .content .textBox{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .content .textBox h2{
        font-size: 2em;
        z-index: 2;
    }
    .content .imgBox{
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img{
        margin-top: 150px;
        max-width: 150px;
        z-index: 9;
    }
    .thumb{
        height: 10rem;
        margin-bottom: -2rem;
        z-index: 9;
    }
    /* .thumb li {
    } */
    .thumb li::before{
        position: absolute;
        top: -150px;
        left: 0;
        font-size: 6em;
    }
    .textBote{
        font-size: 15em;
        margin-left: 5.5rem;
    }
    .sci {
        background: rgba(0,0,0,0.1);
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    header .navigation{
        display: none;
    }
    @keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }
    header .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(34, 34, 34, 0.6); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    z-index: 999;
    transition: 1s;
    flex-direction: column;
    animation: aparece 1s ;
    }
    header .navigation li{
        margin-bottom: 20px;
    }
    .sci{
        z-index: 5;
    }
    .toggle{
        position: absolute;
        right: 0;
        margin-right: 30px;
        width: 30px ;
        height: 30px;
        cursor: pointer;
        background: url(./img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10000;
    }
    .toggle.active{
        background: url(./img/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;

    }

    .bote{
        margin-right: 0;
        margin-left: 150px;
    }
}

.first{
    scale: 3;
    margin-right: 150px;
}

